.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 0px;
  background: #b8f0fa;
}

.btn {
  z-index: 1;
}


body {
  background: linear-gradient(to right, #f4f4f5, #e7e7e9);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #a1b4d6;
  animation: animate 25s linear infinite;
  bottom: -350px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  color: #333;
}

form {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkbox-icon i {
  font-size: 20px;
  color: rgb(54, 53, 53);
}

input[type="checkbox"]:checked+.checkbox-icon i {
  color: rgb(126, 126, 134);
}

.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.menu-sidebar {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  transition: right 0.3s ease-in-out;
  z-index: 9998;
  padding-top: 60px; 
}

.menu-links {
  list-style: none;
  padding: 0;
}

.menu-links li {
  padding: 10px;
  text-align: right; 
}

.menu-links li a {
  text-decoration: none;
  color: #fff; 
  font-size: 18px;
  transition: color 0.3s;
}

.menu-links li a:hover {
  color: #bdbfc4; 
}

.menu-open {
  right: 0;
}
.footer{
  margin-top: 150px;
  width: 100%;
  padding: 20px 45%;
  background: #d8def0;
  color:#3f4041;
  display: flex;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 0px;
  background: #def0f3;
}

.custom-background {
    background-color: #d8def0; 
  }

.arrow-down {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #292525; 
  }

#filter-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px; 
  }
  
  #filter-button i {
    font-size: 20px; 
    margin-right: 5px; 
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}